<link href='https://fonts.googleapis.com/css?family=Questrial' rel='stylesheet' type='text/css'>
<meta charset="utf-8">
<link rel="stylesheet" type="text/css" href="/styles/style.css">
<script type="text/javascript"></script>
<title>How much does the weather suck today?</title>