<!DOCTYPE html>
<html>
<head>
  <% include ../views/partials/head.ejs %>
</head>
<header>
  <% include ../views/partials/header.ejs %>
</header>
  <body>
    <form action="/weather/<%= weather.zip %>" method="POST">
      <input type="number" name="zip" value="<%= weather.zip %>"/>
      <input type="hidden" name="_method" value="PUT"/>
      <button>Submit</button>
    </form>
  </body>
</html>