<!DOCTYPE html>
<html>
<head>
  <% include ../views/partials/head.ejs %>
</head>
<header>
  <% include ../views/partials/header.ejs %>
</header>
  <body>
    <div id="container">
    <h2>Weather</h2>
    <form action="/weather" method="POST">
      <input type="number" name="zip" placeholder="ZIP Code"/>
      <button>Add</button>
    </form>
    <ul>
      <% for(i = 0; i < weather.length; i++) { %>
        <li>
          <a href="/weather/<%= weather[i].zip %>"><%=weather[i].zip%></a>
          <a href="/weather/<%= weather[i].zip %>/edit">Edit</a>
          <form action="/weather/<%=weather[i].id%>" method="POST">
          <input type='hidden' name='_method' value='DELETE'/>
              <button>Delete</button>
          </form>
        </li>
      <% } %>
    </ul>
    </div>
  </body>
</html>