<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/head.ejs %>
</head>
<header>
	<% include ../views/partials/header.ejs %>
</header>
<body>
	<p id="container">
		<br><%=weatherData.name%>
		<br><strong>Current:</strong> <%=weatherData.main.temp%>
		<br><strong>⬇:</strong> <%=weatherData.main.temp_min%>
		<br><strong>⬆:</strong> <%=weatherData.main.temp_max%>
	</p>
</body>
<footer>
	<% include ../views/partials/footer.ejs %>
</footer>
</html>