<!DOCTYPE html>
<html>
<head>
	<% include ../views/partials/head.ejs %>
</head>
<header>
	<% include ../views/partials/header.ejs %>
</header>
<body>
	<br><%=weatherData.name%>
	<br><%=weatherData.main.temp%>
	<br><%=weatherData.main.temp_min%>
	<br><%=weatherData.main.temp_max%>
</body>
<footer> 
</footer>
</html>